body form{
	margin: 0 auto;
	border-radius: 5px;
}

header{
	padding-bottom: 20px;
}

header form{
	width: 485px;
	border-style: ridge;
	height: 195px;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 45px;
}

#salariobruto{
	height: 35px;
	width: 373px;
}


button{
	height: 40px;
	width: 103px;
}

#calculator form{
	background-color: #daecf8;
	width: 560px;

}

#discountINSS,#discountIR,#salarioliquido{
	height: 15px;
	width: 353px;
	border: none;
	background-color: #daecf8;

}


