body form{
	margin: 0 auto;
	width: 560px;
	border-radius: 5px;
}

#salariobruto{
	height: 35px;
	width: 373px;
}

button{
	height: 40px;
	width: 103px;
}

#discountINSS,#discountIR,#salarioliquido{
	height: 35px;
	width: 353px;
	border: none;
}


